.benefit-card {
  padding: 30px 30px 45px 30px;
  width: 359px;
  background-color: $white-font;
  overflow-y: scroll;

  h3 {
    font-family: "Montserrat Medium", "Arial", sans-serif;
    font-weight: 500;
    color: $black-font;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  p {
    width: 100%;
    font-family: "Montserrat Regular", "Arial", sans-serif;
    font-weight: 400;
    color: $black-font;
    font-size: 14px;
    line-height: 20px;
  }

  @media (max-width: 1023px) {
    width: 206px;
    padding: 26px 0 21px 20px;

    h3 {
      &.benefit-card__title--3 {
        margin-bottom: 20px;
      }
      line-height: 25px;
    }

    p.pre {
      white-space: normal;
    }
  }
}

.benefit-card__icon {
  margin-bottom: 10px;

  @media (max-width: 1023px) {
    margin-bottom: 11px;
    &--1 {
      width: 21px;
      height: 26px;
    }

    &--2 {
      width: 27px;
      height: 26px;
    }

    &--3 {
      width: 36px;
      height: 26px;
    }
  }
}