.benefits-block {
  width: 100%;
  padding: 110px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white-font;
  background-image: url("../img/bg-benefits-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    font-family: "Montserrat Semi Bold", "Arial", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 50px;
  }

  @media (max-width: 1023px) {
    padding: 88px 0 100px 0;
    background-image: url("../img/bg-benefits-tablet.jpg");

    h2 {
      font-size: 26px;
      line-height: 39px;
    }
  }

  @media (max-width: 767px) {
    padding: 55px 15px 65px 15px;
    background-image: url("../img/bg-benefits.jpg");

    h2 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 30px;
    }
  }
}

.benefits-block__wrapper {
  width: 84.9%;

  @media (max-width: 1023px) {
    width: 100%;
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.benefits-block__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  @media (max-width: 1023px) {
    gap: 30px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}
