.contacts-block {
  width: 100%;
  background-color: $white-font;
  padding: 120px 0;

  @media (max-width: 1023px) {
    padding: 100px 45px;
  }
}

.contacts-block__wrapper {
  width: 84.9%;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: 1023px) {
    width: 100%;
    gap: 30px;
  }
}

.contacts-block__map {
  width: 560px;
  height: 306px;

  iframe {
    width: 560px;
    height: 306px;
  }

  @media (max-width: 1365px) {
    width: 400px;

    iframe {
      width: 400px;
    }
  }

  @media (max-width: 1023px) {
    width: 324px;
    height: 335px;

    iframe {
      width: 324px;
      height: 335px;
    }
  }
}

.contacts-block__contacts {
  p {
    font-family: "Montserrat Medium", "Arial", sans-serif;
    font-weight: 500;
    color: $black-font;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
  }

  a {
    font-family: "Montserrat Regular", "Arial", sans-serif;
    font-weight: 400;
    color: $black-font;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      color: grey;
    }

    &:active {
      opacity: 0.7;
    }
  }

  @media (max-width: 1023px) {
    p {
      margin-bottom: 28px;
    }
  }
}

.contacts-block__list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (max-width: 1023px) {
    gap: 20px;
  }
}

.contacts-block__contact-link {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 1023px) {
    align-items: flex-start;

    span {
      display: block;
      max-width: 255px;
    }
  }
}