.description-block {
  width: 100%;
  padding: 115px 0 145px 0;

  @media (max-width: 1023px) {
    padding: 90px 0 95px 0;
  }
}

.description-block__wrapper {
  width: 84.9%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px;

  @media (max-width: 1023px) {
    width: 100%;
    padding: 0 45px;
    gap: 30px;
    align-items: flex-start;
  }
}

.description-block__text-wrapper {
  width: 512px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-family: "Montserrat Semi Bold", "Arial", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 20px;
    color: $black-font;
  }

  p {
    font-family: "Montserrat Regular", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black-font;
  }

  @media (max-width: 1023px) {
    width: 324px;

    h2 {
      font-size: 26px;
      line-height: 36px;
      width: 205px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.description-block__picture {
  @media (max-width: 1023px) {
    margin-top: 10px;
  }
}