.footer {
  background-color: $black-font;
  padding: 50px 0;
}

.footer__wrapper {
  display: flex;
  width: 84.9%;
  margin: 0 auto;
  align-items: center;
}

.footer__main-logo {
  margin-right: 40px;
}

.footer__socials {
  margin-left: auto;
}