.form-block {
  width: 100%;
  padding: 50px 0;
  background-image: url("../img/bg-form-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1023px) {
    background-image: url("../img/bg-form-tablet.jpg");
    padding: 78px 0 100px 0;
  }

  @media (max-width: 767px) {
    background-image: url("../img/bg-form.jpg");
    padding: 55px 0 65px 0;
  }
}

.form-block__wrapper {
  width: 76.1%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 144px;
  align-items: center;

  @media (max-width: 1023px) {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.form-block__title-wrapper {
  width: 493px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 10px;

  h2 {
    width: 493px;
    font-family: "Montserrat Bold", "Arial", sans-serif;
    font-weight: 700;
    padding-top: 10px;
    color: $black-font;
    font-size: 40px;
    line-height: 60px;
  }

  p {
    font-family: "Montserrat Regular", "Arial", sans-serif;
    color: $black-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 345px;
  }

  @media (max-width: 1023px) {
    h2 {
      font-size: 34px;
      line-height: 51px;
      text-align: center;
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      width: auto;
      margin-top: -5px;
      margin-bottom: 32px;
    }
  }

  @media (max-width: 767px) {
    align-items: center;
    width: 290px;

    h2 {
      padding-top: 5px;
      width: 290px;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 12px;
    }
  }
}
