.products-block {
  background-color: $white-font;
  width: 100%;
  padding: 85px 0 120px 0;

  h2 {
    font-family: "Montserrat Semi Bold", "Arial", sans-serif;
    font-weight: 600;
    color: $black-font;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 49px;
    text-align: center;
  }
}

.products-block__wrapper {
  width: 82.72%;
  margin: 0 auto;
}

.products-block__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}